<bg-img></bg-img>
<div class="main-bio">
  <section>
    <header>
      <app-logo></app-logo>
    </header>
    <nav>
      <a matRipple routerLink="/" [ngClass]="isActive"
        ><img src="/assets/icon/home.svg" alt=""
      /></a>
      <a matRipple routerLink="/donate" routerLinkActive="active"
        ><img src="/assets/icon/donate.svg" alt=""
      /></a>
      <a matRipple routerLink="/yarn" routerLinkActive="active"
        ><img src="/assets/icon/yarn.svg" alt=""
      /></a>
    </nav>
    <events *ngIf="isActive"></events>
    <div class="w-full">
      <router-outlet></router-outlet>
    </div>
    <footer>2021 © DSI</footer>
  </section>
</div>
