// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
@use "~@angular/material" as mat;
// Plus imports for other components in your app.

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat.core();

// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue. Available color palettes: https://material.io/design/color/
$dsi-bio-primary: mat.define-palette(mat.$indigo-palette);
$dsi-bio-accent: mat.define-palette(mat.$pink-palette, A200, A100, A400);

// The warn palette is optional (defaults to red).
$dsi-bio-warn: mat.define-palette(mat.$red-palette);

// Create the theme object. A theme consists of configurations for individual
// theming systems such as "color" or "typography".
$dsi-bio-theme: mat.define-light-theme(
  (
    color: (
      primary: $dsi-bio-primary,
      accent: $dsi-bio-accent,
      warn: $dsi-bio-warn,
    ),
  )
);

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
@include mat.all-component-themes($dsi-bio-theme);

@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";
/* You can add global styles to this file, and also import other style files */
body {
  @apply overflow-x-hidden;
}

.main-bio {
  @apply w-screen relative;

  section {
    @apply pt-[5rem] md:pt-[4rem] lg:pt-6 px-[5vw] md:px-[10vw]
    lg:px-[18vw] grid justify-items-center gap-y-3;
  }
}

header {
  @apply w-[30vw] md:w-[15vw] filter drop-shadow-md dark:drop-shadow-dark lg:w-[10vw];

  .logo {
    @apply fill-current text-gray-800 dark:text-white;
  }
}

nav {
  @apply dark:bg-gray-700 bg-white p-[.2em] rounded-full shadow-md dark:shadow-dark flex;

  a {
    @apply mx-[.25em] p-3 md:p-2 rounded-full transition-all duration-500 ease-out;

    img {
      @apply filter invert-[.4]  dark:invert  w-6 md:w-4;
    }

    &:hover {
      @apply bg-gray-200 dark:bg-gray-500;
    }

    &.active {
      @apply bg-gray-500 dark:bg-white;

      img {
        @apply dark:invert-0 invert;
      }
    }

    .mat-ripple-element {
      @apply bg-ripple-white dark:bg-ripple-black;
    }
  }
}

events {
  @apply w-full rounded-2xl min-h-[9rem] p-3 bg-white dark:bg-gray-800 shadow-md dark:shadow-dark dark:text-white;
}

.cards {
  .card {
    @apply w-full flex rounded-2xl min-h-[4rem] p-3 bg-white dark:bg-gray-800 shadow-md dark:shadow-dark dark:text-white relative overflow-hidden my-2;

    svg,
    img {
      @apply h-[4rem] mx-auto;

      .discord {
        @apply fill-current dark:text-white text-discord-blurple;
      }
      .trakteer {
        @apply fill-current dark:text-white text-trakteer-red;
      }
      .saweria {
        @apply fill-current dark:text-white text-saweria-yellow;
      }
      .twitter {
        @apply fill-current dark:text-white text-twitter-blue;
      }
      .youtube {
        @apply fill-current dark:text-white text-youtube-red;
      }
    }

    span {
      @apply inline-block m-auto text-lg;
    }

    .mat-ripple-element {
      @apply bg-ripple-black dark:bg-ripple-white;
    }
  }
}

span.ripple {
  position: absolute; /* The absolute position we mentioned earlier */
  border-radius: 50%;
  transform: scale(0);
  animation: ripple 600ms linear;
  background-color: rgba(255, 255, 255, 0.7);
}

@keyframes ripple {
  to {
    transform: scale(4);
    opacity: 0;
  }
}

footer {
  @apply text-xl font-bold dark:text-white;
}

.in-bg {
  @apply bg-trans-white dark:bg-trans-black w-screen h-screen fixed z-[-50] overflow-hidden;
}

.bg-img {
  @apply filter grayscale w-screen h-screen bg-fixed bg-center bg-cover bg-no-repeat fixed z-[-99] overflow-hidden;
}
html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}
